@import '';

/* _content/TabBlazor/Components/Popovers/Popover.razor.rz.scp.css */
.popover-container[b-ln8dyv3yn7] {
    position: relative;
    display: inline-block;
}

.popover[b-ln8dyv3yn7] {
    /* //top: 23px;*/
    left: 98px;
    min-height: 70px;
    min-width: 100px;
}

.popover.arrow[b-ln8dyv3yn7] {
        left: 100px;
    }
/* _content/TabBlazor/Components/Tooltips/Tooltip.razor.rz.scp.css */
.tooltip-wrapper[b-qwrsjj0686] {
    position: relative;
    display: inline-block;
}

span[b-qwrsjj0686] {
    visibility: hidden;
    position: absolute;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}

    span[b-qwrsjj0686]::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.tooltip-wrapper:hover span[b-qwrsjj0686] {
    visibility: visible;
}
/* _content/TabBlazor/Components/TreeViews/TreeView.razor.rz.scp.css */
.tree[b-4tmdtq1yai], .tree ul[b-4tmdtq1yai] {
    margin: 0;
    padding: 0;
    list-style: none
}

    .tree li[b-4tmdtq1yai] {
        margin: 0;
        padding: 0 2em;
      }

   
